body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.stopwatch {
    text-align: center;
}

.time {
    font-size: 2em;
    margin: 2px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}
